/* General */
* { box-sizing: border-box; }
body {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  line-height: 26px;
}
::-webkit-scrollbar { display: none; }

/* Titles and text styling */
a { color: #000; }
a:hover { color: #0000cd; }
p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  color: #000;
}
ul {
  margin: 0;
}
li {
  font-size: 24px;
  line-height: 26px;
}

/* Design Elements */
.wrapper {
 position: fixed;
 top: 0;
 right:
 bottom
 left: 50vw;
 z-index: 100;
 text-align: center;
 border-left: 1px solid #000;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  right: 50vw;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#header li {
  cursor: pointer;
}
.work li {
  display: block;
  padding: 2px;
  list-style: none;
}
.work li:before {
  padding: 0 5px;
  content: '↝';
}

/* Pagination */
.pagination {
  position: absolute;
  bottom: 20px;
  display: none;
  width: 100%;
}
.next,
.prev {
  display: inline-block;
  padding: 0 10px;
}
